.album-card {
  border: 1px solid var(--muted-black);
}

.buttons {
  &__collection,
  &__wishlist,
  &__details {
    border: 1px solid var(--medium-amber);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--soft-amber);
      color: var(--hard-amber);
    }
  }

  &__wishlist {
    &:hover .buttons__wishlist__icon {
      color: var(--rose-red);
      fill: var(--rose-red);
    }

    &__icon {
      &__disabled {
        color: var(--rose-red);
        fill: var(--rose-red);
      }
    }
  }

  &__remove {
    border: 1px solid var(--medium-amber);
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #d4183d;
      border: 1px solid #ef1d26;
      color: white;
    }
  }
}
