.album-card {
  border: 1px solid var(--muted-white-black);
  background-color: var(--white-black);
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
}

@media (min-width: 768px) {
  .album-card:hover {
    box-shadow: var(--album-card-shadow);
    transform: translateY(-5px);
  }
}

.buttons {
  &__collection,
  &__wishlist,
  &__details {
    border: 1px solid var(--medium-amber);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--soft-amber);
      color: var(--hard-amber);
    }
  }

  &__wishlist {
    &:hover .buttons__wishlist__icon {
      color: var(--rose-red);
      fill: var(--rose-red);
    }

    &__icon {
      &__disabled {
        color: var(--rose-red);
        fill: var(--rose-red);
      }
    }
  }

  &__remove {
    border: 1px solid var(--medium-amber);
    transition: background-color 0.2s ease;
    &:hover {
      background-color: #d4183d;
      border: 1px solid #ef1d26;
      color: white;
    }
  }
}
