.collection-container {
  &__add {
    background-color: var(--auth-submit-background);
    color: var(--auth-submit-color);

    &:hover {
      background-color: var(--auth-submit-hover-background);
    }
  }
}
